.buildOrder {
    grid-column: span 2
}

.buildMenu {
    grid-column: span 1;
    display: block
}

table .buildTime {
    width: 36px
}

.buildActions button {
    cursor: pointer;
    display: inline-block;
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    font-size: 1.3rem;
    letter-spacing: .5px;
    line-height: 13px;
    padding: 9px 13px;
    text-transform: uppercase;
    -webkit-appearance: none;
    border-width: 1px;
    border-style: solid;
    border-color: #ffdb88;
    background: #1E2536;
    color: #ffdb88;
    text-shadow: 1px 1px 0 rgba(10, 10, 10, .4)
}

.buildActions button:hover {
    background: #2C374F;
}

table tbody tr td:nth-child(2) {
    background: #41394a;
}
table tbody tr:nth-child(2n) td:nth-child(2) {
    background: #342934;
}

table tbody tr td:nth-child(3) {
    background: #383a47;
}
table tbody tr:nth-child(2n) td:nth-child(3) {
    background: #2c2a31;
}

table tbody tr td:nth-child(4) {
    background: #374157;
}
table tbody tr:nth-child(2n) td:nth-child(4) {
    background: #2b3140;
}

table tbody tr td:nth-child(5) {
    background: #404448;
}
table tbody tr:nth-child(2n) td:nth-child(5) {
    background: #343432;
}

table tbody tr td:nth-child(6) {
    padding-left: 10px;
}

@media screen and (max-width:800px) {
    html {
        font-size: 6.7px;
    }

    .titleLine {
        height: 32px;
    }

    .titleDonate img {
        height: 32px;
        max-height: 32px;
        width: auto;
    }

    .titleDonate a {
        font-size: 0
    }

    .civBar ul li a {
        padding: 5px 8px
    }

    .civBar ul li {
        font-size: 1.9rem;
        margin-right: 10px
    }

    .civFlag img {
        height: 32px;
    }

    .civStats h1 {
        padding-bottom: 3px;
    }

    .civStatsMore {
        display: none;
    }

    .buildOrder {
        grid-column: span 3
    }

    table .buildTime {
        width: 24px
    }

    .icon {
        height: 32px;
        max-height: 32px;
    }

    .buildMenu {
        display: none
    }

    .buildActions button {
        letter-spacing: .3px;
        line-height: 8px;
        padding: 6px 8px;
    }

    table {
        font-size: 2.2rem;
        line-height: 33.3px;
    }

    table td {
        padding: 2.7px;
    }

    table th {
        line-height: 24px;
        padding: 2.7px;
    }

    .footerBar {
        font-size: 1.5rem;
    }

    .buildTime img {
        height: 16px;
    } 
}