html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

table .buildTime {
    width: 36px
}

button {
    cursor: pointer;
    display: inline-block;
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    line-height: 1.3rem;
    padding: .9rem 1.3rem;
    text-transform: uppercase;
    -webkit-appearance: none;
    border-width: 1px;
    border-style: solid;
    border-color: #ffdb88;
    background: #181C29;
    color: #ffdb88;
}

.buildActions button:hover {
    background: #2C374F;
}

table tbody tr td:nth-child(2) {
    background: #41394a;
}

table tbody tr:nth-child(2n) td:nth-child(2) {
    background: #342934;
}

table tbody tr td:nth-child(3) {
    background: #383a47;
}

table tbody tr:nth-child(2n) td:nth-child(3) {
    background: #2c2a31;
}

table tbody tr td:nth-child(4) {
    background: #374157;
}

table tbody tr:nth-child(2n) td:nth-child(4) {
    background: #2b3140;
}

table tbody tr td:nth-child(5) {
    background: #404448;
}

table tbody tr:nth-child(2n) td:nth-child(5) {
    background: #343432;
}

table tbody tr td:nth-child(6) {
    padding-left: 10px;
}

#manual {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: .5rem;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#copyForOverlayBtn {
    display: flex;
    position: relative;
}

#AoE4_Overlay {
    background: aqua;
    outline: #181C29 solid 0.1rem;
    color: #181C29;
    font-weight: bolder;
    width: 2rem;
    height: 2rem;
    border-radius: 1.1rem;
    position: absolute;
    text-align: center;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    bottom: 0;
    right: 0;
    z-index: 2;
}

#hybridOverlayText {
    margin-top: -.7rem;
}

#AoE4_Overlay:hover {
    background: black;
    color:#fff;
    outline-color: #fff;
}

@media screen and (max-width:800px) {
    html {
        font-size: 6.7px;
    }

    .civStatsMore {
        display: none;
    }

    table .buildTime {
        width: 24px;
    }
}