* {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    color: #fff;
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
    height: 100%;
}

body {
    background: #181C29;
    margin: auto;
    max-width: 1200px;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1.4rem;
    line-height: 1.5rem;
    padding-left: 0.25rem;
    padding-right: 0.5rem;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.4rem;
    height: 5rem;
    letter-spacing: 0.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    white-space: nowrap;
}

header a:first-child {
    margin-right: auto;
}

header a:not(:first-child) {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.6rem;
    letter-spacing: 0.25rem;
    padding: 0 .5rem;
    margin: .5rem;
}

header a:not(:first-child) span:last-child {
    display: none;
    position: absolute;
    top: 6rem;
}

header a:not(:first-child):hover span:last-child {
    display: block;
}

.gold {
    color: #ffdb88;
}

.gold:hover {
    color: #ffdb88;
}

menu {
    background: #1E2536;
    box-shadow: 0 0 3px rgba(10, 10, 10, .4);
    display: none;
    min-width: 30rem;
    outline-color: #ffdb88;
    outline-style: solid;
    outline-width: 1px;
    position: absolute;
    z-index: 1;
    top: 5rem;
    right: 0;
}

menu li {
    display: block;
}

menu li a,
menu li p {
    display: block;
    font-size: 1.3rem;
    padding: 0.8rem 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

menu li p {
    color: #c4c4c4;
}

menu li a:hover {
    background: #2C374F;
    color: #ffdb88;
}

menu li.active a {
    background: #11141D;
    color: #ffdb88;
}

.dropbtn {
    background-color: #181C29;
    padding: 1rem;
}

.dropbtn div {
    width: 3.5rem;
    height: 0.3rem;
    background-color: #ffdb88;
    margin: 0.7rem 0;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown:hover menu {
    display: block;
}

.dropdown:hover button {
    background-color: #2C374F;
}

main {
    display: flex;
    flex: 1;
    gap: 1rem;
}

article {
    display: flex;
    flex-direction: column;
    flex: 5;
}

aside {
    display: flex;
    flex-direction: column;
    flex: 2;
}

section {
    flex: 1 1 auto;
    height: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.icon {
    cursor: move;
    width: 4.8rem;
    margin: 0.2rem;
    max-height: 4.8rem;
    max-width: 4.8rem;
}

.salamander_icon {
    cursor: pointer;
    width: 4.8rem;
    margin: 0.2rem;
    max-height: 4.8rem;
    max-width: 4.8rem;
}

table {
    font-size: 2.2rem;
    line-height: 5rem;
    text-align: center;
    width: 100%;
}

table img {
    vertical-align: middle;
}

table tbody tr {
    background: #2C374F;
}

table tbody tr:nth-child(2n) {
    background: #1E2536;
}

table td {
    padding: 0.3rem;
}

table th {
    line-height: 3rem;
    padding: 0.3rem;
}

.selected {
    color: #ffdb88;
}

*:focus {
    outline-color: #ffdb88;
    outline-style: solid;
    outline-width: 1px;
}

#civBox {
    background: #1E2536;
    background: linear-gradient(90deg, rgba(30, 37, 54, 1) 0%, rgba(24, 28, 41, 0) 100%);
    display: flex;
    align-items: center;
    padding: 0.8rem;
}

.civFlag img {
    height: 5rem;
    margin-right: 0.8rem;
}

.civStats {
    margin-top: -1rem;
    flex: 1;
}

.tooltip {
    text-decoration: none;
    position: relative;
    overflow: visible;
}

.tooltip span {
    display: none;
}

.tooltipContainer {
    position: absolute;
    max-width: 35rem;
}

.tooltipBox {
    background: rgb(17, 20, 29);
    background: linear-gradient(0deg, rgba(17, 20, 29, 1) 0%, rgba(30, 37, 54, 1) 100%);
    box-shadow: 0 0 3px rgba(10, 10, 10, .4);
    border: 1px solid #11141D;
    position: relative;
    padding: 0.8rem;
    margin: 1rem 0 0 0;
    font-size: 1.4rem;
}

.tooltipBox img {
    margin: 0;
    padding: 0;
    overflow: visible;
    object-fit: contain;
}

.smallIcons img {
    width: 2.4rem;
    max-width: 2.4rem;
}

.tooltipColumn1 {
    display: inline-block;
    width: 7rem;
}

.tooltipColumn2 {
    display: inline-block;
    max-width: 25rem;
    vertical-align: top;
}

.tooltipColumn2 header {
    text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 2rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 2rem;
    border: 0.5rem solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

button {
    cursor: pointer;
    display: inline-block;
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    line-height: 1.3rem;
    padding: .9rem 1.3rem;
    text-transform: uppercase;
    -webkit-appearance: none;
    border-width: 1px;
    border-style: solid;
    border-color: #ffdb88;
    background: #181C29;
    color: #ffdb88;
}

@media screen and (max-width:800px) {
    html {
        font-size: 6.7px;
    }
    .buildTime img {
        height: 16px;
    }
    main {
        flex-direction: column;
    }
    .tooltipContainer,
    header a span,
    .desktop-only {
        display: none;
    }
    header {
        letter-spacing: 0.5rem;
        font-size: 2.4rem;
    }
    .dropbtn {
        padding-left: 10rem;
    }
}

@media not screen and (max-width:800px) {
    .mobile-only {
        display: none;
    }
}

.modal {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2)
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background: #2C374F;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
    font-size: 1.6rem;
}

.modal:focus {
    outline: none
}

@media only screen and (max-width: 992px) {
    .modal {
        width: 80%
    }
}

.modal .modal-content {
    padding: 24px
}

.modal .modal-close {
    cursor: pointer
}

.modal .modal-footer .btn,
.modal .modal-footer .btn-large,
.modal .modal-footer .btn-small,
.modal .modal-footer .btn-flat {
    margin: 6px 0
}

.modal-overlay {
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity
}

#cookies-eu-banner {
    background: #444;
    color: #fff;
    padding: 6px;
    font-size: 13px;
    text-align: center;
}

#cookies-eu-more,
#cookies-eu-accept,
#cookies-eu-reject {
    text-decoration: none;
    background: #222;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    padding: 4px 7px;
    margin: 2px 0;
    font-size: 13px;
    font-weight: bold;
    transition: background 0.07s, color 0.07s, border-color 0.07s;
}

#cookies-eu-more:hover,
#cookies-eu-more:focus,
#cookies-eu-accept:hover,
#cookies-eu-accept:focus {
    background: #fff;
    color: #222;
}

#cookies-eu-more {
    margin-left: 7px;
}

#cookies-eu-reject {
    background: none;
    font-weight: normal;
    color: #ccc;
    cursor: pointer;
    padding: 4px 7px;
    margin: 2px 0;
    border: 1px solid #666;
}

#cookies-eu-reject:hover,
#cookies-eu-reject:focus {
    border-color: #fff;
    background: #222;
    color: #fff;
}