* {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    color: #fff;
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
    height: 100%;
}

body {
    background: #181C29;
    margin: auto;
    max-width: 1200px;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    font-size: 1.4rem;
    line-height: 1.5rem;
    padding-left: 5px;
    padding-right: 5px;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    align-items: center;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.4rem;
    height: 5rem;
    letter-spacing: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}

header a:first-child {
    margin-right: auto;
}

header a:not(:first-child){
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    margin: 1rem;
}

header a img {
    padding-right: 1rem;
}

.gold {
    color: #ffdb88;
}

nav {
    background: #1E2536;
}

menu li {
    display: inline-block;
}

menu li a {
    color: #c4c4c4;
    display: block;
    font-size: 1.3rem;
    padding: 0.8rem 2.5rem;
}

menu li a:hover {
    background: #2C374F;
    color: #fff;
}

menu li.active a {
    background: #11141D;
    color: #ffdb88;
}

main {
    display: flex;
    flex: 1;
    margin-top: 1rem;
    gap: 1rem;
}

article {
    display: flex;
    flex-direction: column;
    flex: 5;
}

aside {
    display: flex;
    flex-direction: column;
    flex: 2;
}

section {
    flex: 1 1 auto;
    height: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    /*word-break: break-word; required for long lines*/
}

.icon {
    cursor: move;
    height: 4.8rem;
    margin: 0.2rem;
    max-height: 4.8rem;
    max-width: 4.8rem;
}

table {
    font-size: 2.2rem;
    line-height: 5rem;
    text-align: center;
    width: 100%;
}

table img {
    vertical-align: middle;
}

table tbody tr {
    background: #2C374F;
}

table tbody tr:nth-child(2n) {
    background: #1E2536;
}

table td {
    padding: 0.3rem;
}

table th {
    line-height: 3rem;
    padding: 0.3rem;
}

.selected {
    color: #ffdb88;
}

*:focus {
    outline-color: #ffdb88;
    outline-style: solid;
    outline-width: 1px;
}

.tooltip {
    text-decoration: none;
    position: relative;
    overflow: visible;
}

.tooltip span {
    display: none;
}

.tooltipContainer {
    position: absolute;
    max-width: 400px;
}

.tooltipBox {
    background: rgb(17, 20, 29);
    background: linear-gradient(0deg, rgba(17, 20, 29, 1) 0%, rgba(30, 37, 54, 1) 100%);
    box-shadow: 0 0 3px rgba(10, 10, 10, .4);
    border: 1px solid #11141D;
    position: relative;
    padding: 8px;
    margin: 13px 0 0 0;
    font-size: 1.4rem;
}

.tooltipBox img {
    margin: 0;
    padding: 0;
    overflow: visible;
    object-fit: contain;
}

.smallIcons img {
    width: 24px;
    max-width: 24px;
}

.tooltipColumn1 {
    display: inline-block;
    width: 7rem;
}

.tooltipColumn2 {
    display: inline-block;
    max-width: 25rem;
    vertical-align: top;
}

.tooltipColumn2 header {
    text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 2rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 2rem;
    border: 0.5rem solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.civBox {
    background: #1E2536;
    position: relative;
    padding: 8px;
}

.civFlag {
    display: inline-block;
    margin-right: 7px;
}

.civFlag img {
    height: 50px;
}

.civStats {
    font-size: 1.4rem;
    display: inline-block;
    vertical-align: top
}

.civStats h1 {
    font-size: 3rem;
    padding-bottom: 5px;
}

.civStatsMore {
    position: absolute;
    top: 8px;
    right: 8px;
}

@media screen and (max-width:800px) {
    html {
        font-size: 6.7px;
    }

    .civBar ul li a {
        padding: 5px 8px
    }

    .civBar ul li {
        font-size: 1.9rem;
        margin-right: 10px
    }

    .civFlag img {
        height: 32px;
    }

    .civStats h1 {
        padding-bottom: 3px;
    }

    .civStatsMore {
        display: none;
    }

    .buildOrder {
        grid-column: span 3
    }

    table .buildTime {
        width: 24px
    }

    .icon {
        height: 32px;
        max-height: 32px;
    }

    .buildActions button {
        letter-spacing: .3px;
        line-height: 8px;
        padding: 6px 8px;
    }

    table {
        font-size: 2.2rem;
        line-height: 33.3px;
    }

    table td {
        padding: 2.7px;
    }

    table th {
        line-height: 24px;
        padding: 2.7px;
    }

    .footerBar {
        font-size: 1.5rem;
    }

    .buildTime img {
        height: 16px;
    }

    main {
        flex-direction: column;
    }
}