a, article, b, body, code, dd, div, dl, dt, footer, h1, h2, h3, h4, h5, h6, header, html, i, img, li, menu, nav, p, s, section, small, span, table, tbody, td, th, thead, time, tr, u, ul, var {
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

html {
    background: #181C29;
    color: #fff;
    font-size: 10px;
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
}

article, footer, header, menu, nav, section {
    display: block;
    position: relative;
}

body {
    line-height: 1;
    height: 100%;
    margin: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    font-size: 1.4rem;
    line-height: 1.5em;
    padding-left: 5px;
    padding-right: 5px;
}

a {
    text-decoration: none;
    color: white;
}

.containerOuter {
    background-repeat: no-repeat;
    background-position: left bottom;
    max-width: 1200px;
    min-height: 100%;
    margin: auto; 
    margin-bottom: -50px;
}

.containerInner {
    max-width: 1200px;
    background-repeat: no-repeat;
    background-position: left bottom;
    min-height: 100%;
}

.footer,
.push {
  height: 50px;
}

.footerBar {
    color: rgba(255, 255, 255, .6);
    clear: both;
    margin: 6px 0 0 0;
    padding: 4px 0;
    font-size: 1.2rem;
    text-align: center;
}

.footerBar a {
    color: #fff
}

.footerBar a:hover {
    text-decoration: underline
}

.titleBar {
    box-shadow: 0 0 3px rgba(10, 10, 10, .4);
    background: #11141D;
    margin-bottom: 10px;
    display: block;
    position: relative;
    text-transform: uppercase;
}

.titleLine {
    color: #ffdb88;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.4rem;
    padding: 6px 8px;
    height: 47px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 4px;
}

.titleDonate {
    position: absolute;
    top: 0px;
    right: 0px;
}

.titleDonate img {
    vertical-align: middle;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.titleDonate a {
    font-size: 1.4rem;
    color: #ffdb88;
}

.civBar {
    box-shadow: 0 0 3px rgba(10, 10, 10, .4);
    border: 1px solid #11141D;
    background: #1E2536;
    display: block;
    font-size: 1.3rem;
}

.civBar ul li {
    display: inline-block;
    margin-right: 15px
}

.civBar ul li a {
    display: block;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    color: #c4c4c4;
    padding: 8px 18px
}

.civBar ul li a:hover {
    color: #fff
}

.civBar ul li.active a {
    background: #11141D;
    color: #ffdb88;
}

.civBox {
    box-shadow: 0 0 3px rgba(10, 10, 10, .4);
    border: 1px solid #11141D;
    background: #1E2536;
    position: relative;
    padding: 8px;
    margin: 13px 0 0 0
}

.civFlag {
    display: inline-block;
    margin-right: 7px;
}

.civFlag img {
    height: 50px;
}

.civStats {
    font-size: 1.4rem;
    display: inline-block;
    vertical-align: top
}

.civStats h1 {
    font-size: 3rem;
    padding-bottom: 5px;
}

.civStatsMore {
    position: absolute;
    top: 8px;
    right: 8px;
}

.buildActions {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 1.1rem;
}

.contentInner {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    margin: 0 auto;
}

.buildOrder {
    grid-column: span 2
}

.buildMenu {
    grid-column: span 1;
    display: block
}

table .buildTime {
    width: 36px
}



.icon {
    cursor: move;
    object-fit: contain;
    height: 48px;
    max-height: 48px;
    width: auto;
    margin: 3px;
    margin-left: 4.5px;
    /*background: rgb(30,34,33);*/
}

.buildActions button {
    cursor: pointer;
    display: inline-block;
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    font-size: 1.3rem;
    letter-spacing: .5px;
    line-height: 13px;
    padding: 9px 13px;
    text-transform: uppercase;
    -webkit-appearance: none;
    border-width: 1px;
    border-style: solid;
    border-color: #ffdb88;
    background: #1E2536;
    color: #ffdb88;
    text-shadow: 1px 1px 0 rgba(10, 10, 10, .4)
}

.buildActions button:hover {
    background: #2C374F;
}

section {
    margin-bottom: 10px
}

section header {
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    padding: 6px 4px;
    text-shadow: 1px 1px 2px #000;
}

section article {
    box-shadow: 0 0 3px rgba(10, 10, 10, .4);
    border: 1px solid #11141D;
    background: #1E2536;
}

table {
    width: 100%;
    font-size: 2.2rem;
    text-align: center;
    line-height: 50px;
    vertical-align: bottom;
}

table img {
    vertical-align: middle;
}

table tbody tr {
    background: #2C374F;
}
table tbody tr:nth-child(2n) {
    background: #1E2536;
}

table tbody tr td:nth-child(2) {
    background: #41394a;
}
table tbody tr:nth-child(2n) td:nth-child(2) {
    background: #342934;
}

table tbody tr td:nth-child(3) {
    background: #383a47;
}
table tbody tr:nth-child(2n) td:nth-child(3) {
    background: #2c2a31;
}

table tbody tr td:nth-child(4) {
    background: #374157;
}
table tbody tr:nth-child(2n) td:nth-child(4) {
    background: #2b3140;
}

table tbody tr td:nth-child(5) {
    background: #404448;
}
table tbody tr:nth-child(2n) td:nth-child(5) {
    background: #343432;
}

table td {
    padding: 4px;
    vertical-align: middle
}

table th {
    line-height: 36px;
    vertical-align: top;
    padding: 4px;
}

.selected {
    color: #ffdb88;
}

*:focus {
    outline-color: #ffdb88;
    outline-style: solid;
    outline-width: 1px;
}

.fold {
    cursor: pointer;
}

.fold:after {
    content: '\002B';
    float: right;
}

.unfold:after {
    content: "\2212";
}

.boxed {
    max-height: 0;
    transition: max-height .2s ease-out;
    padding: 0;
    position: relative;
    overflow-y: hidden;
}

.tooltip {
    text-decoration: none;
    position: relative;
    overflow: visible;
}

.tooltip span {
    display: none;
}

.tooltipContainer {
    position: absolute;
    max-width: 400px;
}

.tooltipBox {
    box-shadow: 0 0 3px rgba(10, 10, 10, .4);
    border: 1px solid #11141D;
    background: rgb(17, 20, 29);
    background: linear-gradient(0deg, rgba(17, 20, 29, 1) 0%, rgba(30, 37, 54, 1) 100%);
    position: relative;
    padding: 8px;
    margin: 13px 0 0 0;
}

.tooltipBox img {
    margin: 0;
    padding: 0;
    overflow: visible;
    object-fit: contain;
}

.smallIcons img {
    width: 24px;
    max-width: 24px;
}

.tooltipColumn1 {
    display: inline-block;
    width: 68px;
}

.tooltipColumn2 {
    display: inline-block;
    max-width: 312px;
    vertical-align: top;
}

.tooltipColumn2 header {
    text-transform: uppercase;
}

@media screen and (max-width:800px) {
    html {
        font-size: 6.7px;
    }

    .titleLine {
        height: 32px;
    }

    .titleDonate img {
        height: 32px;
        max-height: 32px;
        width: auto;
    }

    .titleDonate a {
        font-size: 0
    }

    .civBar ul li a {
        padding: 5px 8px
    }

    .civBar ul li {
        font-size: 1.9rem;
        margin-right: 10px
    }

    .civFlag img {
        height: 32px;
    }

    .civStats h1 {
        padding-bottom: 3px;
    }

    .civStatsMore {
        display: none;
    }

    .buildOrder {
        grid-column: span 3
    }

    table .buildTime {
        width: 24px
    }

    .icon {
        height: 32px;
        max-height: 32px;
    }

    .buildMenu {
        display: none
    }

    .buildActions button {
        letter-spacing: .3px;
        line-height: 8px;
        padding: 6px 8px;
    }

    table {
        font-size: 2.2rem;
        line-height: 33.3px;
    }

    table td {
        padding: 2.7px;
    }

    table th {
        line-height: 24px;
        padding: 2.7px;
    }

    .footerBar {
        font-size: 1.5rem;
    }

    .buildTime img {
        height: 16px;
    } 
}